<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-left">
        <a [routerLink]="['/groups']">
          Group List
        </a>
        <p>Find a list of Object ids that a group is applied to. </p>
          <ul>
            <li>An Object ID starting with A-E is a document.</li>
            <li>An Object ID starting with f is a folder/file divider.</li>
            <li>An Object ID starting with q is a file.</li>
          </ul>
      </div>

      <!--<div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Deborah Kurata</h3>
      </div>-->

      <!--<div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>-->
    </div>
  </div>
</div>